body {
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
}

header {
    background-color: darkgrey;
}

nav {
    display: inline-block;
    width: 80%;
}

ul {
    display: grid;
    grid-template-columns: 20% 40% 40%;
    justify-content: center;
    background-color: darkgrey;
    color: white;
    list-style-type: none;
    text-align: center;
}

header img {
    display:inline-block;
    width: 10%;
    position: relative; top: 20px;
} 

main {
    background-color: rgb(219, 240, 34);
    font-size: 20px;
}

.Img_Grid {
    display: grid;
    grid-template-columns: 40% 40%;
    justify-content: space-evenly;
    align-items: center;
    row-gap: 10px;
}

.Img_Grid img {
    width: 100%;
}

.Img_Flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 20px;
}

/* .Img_Flex img {
    width: 20%;
} */

footer {
    background-color: darkgray;
}

/* li {
    display: block;
    width: 50px;
    margin-right: 40px;
} */

h1 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: darkblue;
}

p {
    line-height: 25px;
}