body {
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
}

header {
    background-color: white
}

nav {
    display: inline-block;
    width: 100%;
}

ul {
    display: grid;
    grid-template-columns: 33.33% 33.33% 33.34%;
    background-color: white;
    color: white;
    list-style-type: none;
    text-align: center;
    justify-content: space-between;
    padding: 0px;
}

nav li {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

nav li a {
    display: flex;
    justify-content: center;
    text-decoration: none ;
    color: rgb(0, 0, 137);
    font-family: Arial, Helvetica, sans-serif;
    transition-duration: 0.5s;
    border: 3px solid rgb(0, 0, 137);
    border-radius: 10px;
    padding: 5px;
}

nav li a:hover {
    color: white;
    background-color: rgb(0, 0, 137)
}

.selected {
    font-weight: bold;
    background-color: rgb(0, 0, 137);
    color: white;
}

.Header_Div{
    border: 3px solid rgb(0, 0, 137);
    border-radius: 10px;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: 28.5% 71.5%;
    overflow: hidden;
}

.Header_Div img {
    display: inline;
} 

.Header_Sub_Div {
    display: grid;
    grid-template-rows: 30% 40% 30%;
    width: 100%;
}

.Header_Sub_Div div{
    background-color: rgb(0, 0, 137);
}

.Img_Flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 20px;
    width: 95%;
    margin: 20px auto 20px auto;
}

.Img_Flex :nth-child(n) {
    border: 2px solid rgb(0, 0, 137);
}

footer {
    background-color: lightgray;
    font-family: Arial, Helvetica, sans-serif;
    border: 3px solid rgb(0, 0, 137);
    padding: 3px;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: darkblue;
}

p {
    line-height: 25px;
}

.STMC {
    position: absolute;
    top: -100px;
}

.STMC:focus {
    position: absolute;
    top: 10px;
}

#Home_Text {
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}