body {
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
}

/* ul {
    display: flex;
    gap: 40px;
} */

header {
    background-color: lightgray;
}

nav {
    background-color: darkgrey;
    color: white;
}

main {
    background-color: forestgreen;
    font-size: 20px;
}

footer {
    background-color: darkgray;
}

li {
    display: inline;
    width: 50px;
    margin-right: 40px;
}

h1 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: blue;
}

p {
    line-height: 25px;
}